[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Assets/_Recovery/
Assets/_Recovery.meta
MemoryCaptures/
Recordings/

*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

Assets/AssetStoreTools*
Assets/Samples/
Assets/Settings/
Assets/Sprites/
Assets/VRTemplateAssets/
Assets/XR/
Assets/XRI/
sysinfo.txt

node_modules/

.vs/
.vscode/
.idea/
*.tmp
*.log
Thumbs.db
Desktop.ini
